{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <h2>Calificaciones para {{ evento.nombre }}</h2>
        <!-- Mostrar las calificaciones existentes -->
        {% if calificaciones %}
            <div class="mt-4">
                <h4>Calificaciones anteriores:</h4>
                <ul>
                    {% for calificacion in calificaciones %}
                        <li>
                            <strong>{{ calificacion.usuario.username }}</strong>:
                            {{ calificacion.calificacion }} estrellas
                            <p>{{ calificacion.comentario }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No hay calificaciones para este evento.</p>
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="mt-5">
                <h4>Añadir una calificación:</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Enviar Calificación</button>
                </form>
            </div>
        {% else %}
            <p>
                Por favor, <a href="{% url 'usuarios:iniciar_sesion' %}">inicia sesión</a> para dejar una calificación.
            </p>
        {% endif %}
    </div>
{% endblock %}
