{% extends "eventos/layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="width: 100%;">
    {% include "core/components/utils/title.html" with titulo="Detalle del evento #" texto=evento.id %}
</div>
{% include 'eventos/components/detalle.html' with item=evento fotos=fotos promedio_range=promedio_range promedio_calificaciones=promedio_calificaciones tipo="evento" %}


{% include 'core/components/utils/comentarios.html' with evento=evento calificaciones=calificaciones %}


{% endblock %}