{% extends 'eventos/layout/base.html' %}
{% load static %}

{% block content %}
<section class="bg-success py-5">
    <div class="container col-3" style="display: flex; justify-content: center; align-items: center; gap: 2em;">

        {% for evento_item in eventos %}

        <div class="card h-100">
            <a href="">
                <img width="100%"
                    src="{% if evento_item.imagen_url %}{{ evento_item.imagen_url }}{% else %}{% static 'img/404.jpg' %}{% endif %}"
                    class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                    <li>
                        {% for i in evento_item.promedio_calificaciones %}
                        <i class="text-warning fa fa-star"></i>
                        {% endfor %}
                    </li>
                    <li class="text-muted text-right">{{ evento_item.valor_referencial }}</li>
                </ul>
                <a href="" class="h2 text-decoration-none text-dark">{{evento_item.evento.nombre }}</a>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}