{% extends 'alquileres/layout/base.html' %}
{% load static %}
{% block content %}
    <section class="py-5">
        <div class="container" style="width: 100%;">
            <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">

                <!-- Mostrar mensajes informativos (si existen) -->
                {% if messages %}
                    <div class="w-100">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} w-100">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Mostrar alquileres si existen -->
                {% if alquileres %}
                    {% for alquiler_item in alquileres %}
                        {% include 'core/components/utils/card.html' with  nombre=alquiler_item.alquiler.evento.nombre descripcion=alquiler_item.alquiler.observacion valor_referencial=alquiler_item.alquiler.fecha_alquiler imagen_url=alquiler_item.imagen_url id_item=alquiler_item.alquiler.id link_url='alquileres:alquiler_detalle' %}
                    {% endfor %}
                {% else %}
                    <!-- Mensaje si no hay alquileres -->
                    {% if request.user.is_superuser %}
                        <p class="text-center text-muted">No hay alquileres disponibles en este momento.</p>
                    {% else %}
                        <p class="text-center text-muted">No tienes alquileres disponibles en este momento.</p>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </section>
{% endblock %}
