{% extends 'alquileres/layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="py-5">
        <div class="d-flex justify-content-center align-items-center"
             style="min-height: 100vh">
            <div class="card p-4 shadow-sm"
                 style="max-width: 800px;
                        width: 100%;
                        margin-top: -10vh">
                <h2 class="text-center mb-4">Crear Reserva</h2>
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-md-6 mb-3">{{ field|as_crispy_field }}</div>
                            {% if forloop.counter|divisibleby:2 %}
                            </div>
                            <div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-3">Crear reserva</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
