<section class=" py-5">
    <div class="container " style="width: 100%;">
        <section class="bg-light">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-5"
                         style="display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 2em">
                        <div class="card mb-3">{% include 'core/components/utils/carrucel.html' with fotos=fotos %}</div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">{{ item.nombre }}</h1>
                                <p class="h3 py-2">{{ valor_referencial }}</p>
                                <p class="py-2">
                                    {% for i in promedio_range %}<i class="fa fa-star text-warning"></i>{% endfor %}
                                    <span class="list-inline-item text-dark">{{ promedio_calificaciones }} de 5,0</span>
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Tipo evento:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted">
                                            <strong>{{ item.tipo_evento }}</strong>
                                        </p>
                                    </li>
                                </ul>
                                <h6>Description:</h6>
                                <p>{{ item.descripcion }}</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Horas permitidas :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted">
                                            <strong>{{ item.numero_horas_permitidas }}</strong>
                                        </p>
                                    </li>
                                </ul>
                                <h6>Valor extra por hora :</h6>
                                <ul class="list-unstyled pb-3">
                                    <li>{{ item.valor_extra_hora }}</li>
                                </ul>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <a href="{% url 'alquileres:nuevo_alquiler' item.id %}"
                                           class="btn btn-success btn-lg">Alquilar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
