<nav class="navbar navbar-expand-lg navbar-light shadow-sm py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Brand Logo or Name -->
        <a class="navbar-brand text-success h1 align-self-center"
           href="{% url 'core:home' %}">
            {% if configuracion_negocio.logo %}
                <img src="{{ configuracion_negocio.logo.url }}"
                     alt="{{ configuracion_negocio.nombre }}"
                     style="max-height: 50px;
                            border-radius: 5px">
            {% else %}
                <span class="fw-bold">{{ configuracion_negocio.nombre }}</span>
            {% endif %}
        </a>
        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav"
                aria-controls="templatemo_main_nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-between align-items-center"
             id="templatemo_main_nav">
            <ul class="nav navbar-nav mx-lg-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'eventos:eventos' %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'servicios:servicios' %}">Servicios</a>
                </li>
                {% if not request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'alquileres:alquileres' %}">
                            {% if request.user.is_superuser %}
                                Reservas de eventos
                            {% else %}
                                Mis Reservas
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <!-- Icons Section -->
            <div class="d-flex align-items-center">
                {% comment %} <a class="nav-icon text-decoration-none d-lg-inline me-3" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark"></i>
                </a> {% endcomment %}
                {% if request.user.is_superuser %}
                    <a class="nav-icon text-decoration-none d-flex align-items-center text-dark fw-bold"
                       href="{% url 'admin:index' %}">
                        Panel de Control
                        <i class="fa fa-fw fa-cogs me-2"></i>
                    </a>
                {% endif %}
                {% if request.user.is_anonymous %}
                    <a class="btn btn-outline me-3"
                       href="{% url 'usuarios:iniciar_sesion' %}">Iniciar Sesión</a>
                    <a class="btn btn-dark text-white me-3"
                       href="{% url 'usuarios:crear_cuenta' %}">Crear Cuenta</a>
                {% else %}
                    <a class="nav-icon text-decoration-none position-relative me-3"
                       href="{% url 'usuarios:perfil' %}">
                        <i class="fa fa-fw fa-user text-dark"></i>
                        <span class="badge position-absolute top-0 start-100 translate-middle bg-light text-dark rounded-pill"></span>
                    </a>
                    <a class="nav-icon text-decoration-none me-3"
                       href="{% url 'usuarios:cerrar_sesion' %}">
                        <i class="fa fa-fw fa-sign-out-alt text-dark"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
