<nav class="navbar navbar-expand-lg navbar-light shadow-sm py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Brand Logo or Name -->
        <a class="navbar-brand text-success h1 align-self-center"
           href="{% url 'core:home' %}">
            {% if configuracion_negocio.logo %}
                <img src="{{ configuracion_negocio.logo.url }}"
                     alt="{{ configuracion_negocio.nombre }}"
                     style="max-height: 50px;
                            border-radius: 5px">
            {% else %}
                <span class="fw-bold">{{ configuracion_negocio.nombre }}</span>
            {% endif %}
        </a>
        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav"
                aria-controls="templatemo_main_nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-between align-items-center"
             id="templatemo_main_nav">
            <ul class="nav navbar-nav mx-lg-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'core:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'eventos:eventos' %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'servicios:servicios' %}">Servicios</a>
                </li>
                {% if not request.user.is_anonymous %}
                    <li class="nav-item">
                        {% if request.user.is_superuser %}
                            <a class="nav-link text-dark" href="{% url 'alquileres:alquileres' %}">Reservas de eventos</a>
                        {% else %}
                            <div class = "dropdown">
                                <a class="nav-link text-dark dropdown-toggle"
                                   href="#"
                                   role="button"
                                   id="dropdownMenuLink"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Reservas</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'alquileres:alquileres' %}">Mis Reservas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'alquileres:nuevo_alquiler' %}">Crear Reserva</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
                <!-- Icons Section -->
                <div class="d-flex align-items-center">
                    {% comment %} <a class="nav-icon text-decoration-none d-lg-inline me-3" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark"></i>
                    </a> {% endcomment %}
                    {% if request.user.is_anonymous %}
                        <a class="btn btn-outline me-3"
                           href="{% url 'usuarios:iniciar_sesion' %}">Iniciar Sesión</a>
                        <a class="btn btn-success text-white me-3"
                           href="{% url 'usuarios:crear_cuenta' %}">Crear Cuenta</a>
                    {% else %}
                        <div class="dropdown">
                            <a class="nav-icon text-decoration-none position-relative me-3 dropdown-toggle"
                               href="#"
                               id="userDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Perfil
                                <i class="fa fa-fw fa-user text-dark"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'usuarios:perfil' %}">
                                        Ver Perfil <i class="fa fa-fw fa-user text-dark"></i>
                                    </a>
                                </li>
                                {% if request.user.is_superuser %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">
                                            Panel de Control <i class="fa fa-fw fa-cogs text-dark"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'usuarios:cerrar_sesion' %}">
                                        Cerrar Sesión
                                        <i class="fa fa-fw fa-sign-out-alt text-dark"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
