<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
     id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                   href="mailto:info@company.com">{{ configuracion_negocio.correo }}</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                   href="tel:010-020-0340">{{ configuracion_negocio.telefono }}</a>
            </div>
            <div>
                <a class="text-light"
                   href="{% if configuracion_negocio.pagina_web %}{{ configuracion_negocio.red_social_facebook }}{% else %}# {% endif %}"
                   target="_blank"
                   rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light"
                   href="{% if configuracion_negocio.red_social_instagram %}{{ configuracion_negocio.red_social_instagram }}{% else %}# {% endif %}"
                   target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light"
                   href="{% if configuracion_negocio.red_social_x %}{{ configuracion_negocio.red_social_x }}{% else %}# {% endif %}"
                   target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>
