{% extends 'core/layout/base.html' %}
{% load static %}
{% block content %}
  <section class="position-relative overflow-hidden text-white pt-10"
           style="min-height: 50vh">
    <!-- Imagen de fondo -->
    <div class="position-absolute top-0 start-0 w-100 h-100"
         style="background-image: url('https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?q=80&w=2670&auto=format&fit=crop');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat"></div>
    <!-- Capa de opacidad -->
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark"
         style="opacity: 0.5"></div>
    <!-- Contenido principal -->
    <div class="position-relative py-7 py-md-10 px-4 px-md-8 "
         style="display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2.4em">
      <div class="container">
        <div class="text-center text-md-start">
          <h2 class="display-3 fw-bold pt-10 pt-md-14">{{ configuracion_negocio.nombre }}</h2>
          <p class="d-none d-md-block mt-4 fs-4">
            Bienvenido a nuestra página de reservas de eventos. Aquí podrás encontrar una variedad de eventos emocionantes y reservar tu lugar de manera rápida y sencilla.
          </p>
          <div class="mt-5">
            <a href="{% url 'eventos:eventos' %}" class="btn btn-success btn-lg">Ver Eventos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" py-5 container">
    {% include 'core/components/utils/title.html' with titulo="Categorias" texto=" de Eventos" %}
    <div class="row">
      <div class=""
           style="display: flex;
                  flex-wrap: wrap;
                  gap: 2em;
                  justify-content: center;
                  align-items: center">
        {% for tipo_evento in tipo_eventos %}
          {% include 'core/components/utils/cardCategory.html' with nombre=tipo_evento.nombre_evento descripcion=tipo_evento.descripcion imagen_url=tipo_evento.imagen.url link_url="eventos:categorias" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
