{% extends "servicios/layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="width: 100%;">
        {% include "core/components/utils/title.html" with titulo="Detalle del servicio #" texto=servicio.id %}
    </div>
    {% include "servicios/components/detalle.html" with item=servicio fotos=fotos promedio_range=promedio_range promedio_calificaciones=promedio_calificaciones tipo="servicio" %}
    {% include 'core/components/utils/comentarios.html' with evento=servicio calificaciones=calificaciones %}
    {% endblock content %}
