{% extends "servicios/layout/base.html" %}
{% load static %}
{% block content %}
<section class=" py-5">
    <div class="container " style="width: 100%;">

        <div class="" style="display: flex; flex-wrap: wrap; gap: 2em; justify-content: center; align-items: center;">
            {% for servicio_item in servicios %}
            {% include 'core/components/utils/card.html' with nombre=servicio_item.servicio.nombre descripcion=servicio_item.servicio.descripcion valor_referencial=servicio_item.valor_referencial promedio_calificaciones=servicio_item.promedio_calificaciones imagen_url=servicio_item.imagen_url id_item=servicio_item.servicio.id link_url='servicios:servicio_detalle' %}
            {% endfor %}
        </div>
    </div>

    </div>
</section>
{% endblock %}